# Configuration of EZFIO package

export QP_EZFIO=${QP_ROOT}/external/ezfio

function source_if_exists() {
  if [[ -f $1 ]]; then
        if [[ "$(ps -p $$ -ocomm=)" == "zsh" ]] ; then
          autoload bashcompinit
          bashcompinit
        fi
        source $1
  fi
} 

source_if_exists "${QP_EZFIO}/Bash/ezfio.sh"

