if [[ -z $OPAMROOT ]]
then

  # Comment these lines if you have a system-wide OCaml installation
  export OPAMROOT=${OPAMROOT:-${QP_ROOT}/external/opam}
  source ${OPAMROOT}/opam-init/init.sh > /dev/null 2> /dev/null || true

fi


